@import "../../../styles/variables.scss";

.a-searcher {
    position: relative;
    display: flex;
    width: 100%;
    &__input {
      width: 100%;
      font-size: 18px;
      padding-left: 15px;
      border: none;
      border-radius: 4px 4px 4px 4px;
      outline: none;

    }

    &__content {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: $whisper;
      border-radius: 0 4px 4px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      right: 0;

      &__btn {
        width: 18px;
        height: 18px;
      }
    }
  }