@import "../../../styles/variables.scss";

// .home {
//   height: 100vh;
//   background-color: $whisper;
// }

.o-header {
  background-color: $golden-yellow;
  display: flex;
  justify-content: center;
  padding: 8px 0;

  &__content {
    width: 80%;
    display: flex;
  }

  &__logo {
    cursor: pointer;
    margin-right: 20px;
  }

 
}
